# Lab 
In your notebook: use a markdown cell to add a brief description of the dataset, including a citation, date of access, and a link to the archive.


**Description of the Data:** Snowshoe hare physical data in Bonanza Creek Experimental Forest: 1999-Present
**Citation:** Kielland, K., F.S. Chapin, R.W. Ruess, and Bonanza Creek LTER. 2017. Snowshoe hare physical data in Bonanza Creek Experimental Forest: 1999-Present ver 22. Environmental Data Initiative. https://doi.org/10.6073/pasta/03dce4856d79b91557d8e6ce2cbcdc14 (Accessed 2023-10-19).
**Date of Access:** 10-19-2023
**Link to Archive:** https://portal.edirepository.org/nis/mapbrowse?packageid=knb-lter-bnz.55.22 

![Snowshoe Hare](https://upload.wikimedia.org/wikipedia/commons/thumb/4/47/Snowshoe_Hare_%286990917710%29.jpg/640px-Snowshoe_Hare_%286990917710%29.jpg)

In [6]:
import pandas as pd 
hares = pd.read_csv('https://portal.edirepository.org/nis/dataviewer?packageid=knb-lter-bnz.55.22&entityid=f01f5d71be949b8c700b6ecd1c42c701')
hares

,date,time,grid,trap,l_ear,r_ear,sex,age,weight,hindft,notes,b_key,session_id,study
0,11/26/1998,NaN,bonrip,1A,414D096A08,NaN,NaN,NaN,1370.0,160.0,NaN,917.0,51,Population
1,11/26/1998,NaN,bonrip,2C,414D320671,NaN,M,NaN,1430.0,NaN,NaN,936.0,51,Population
2,11/26/1998,NaN,bonrip,2D,414D103E3A,NaN,M,NaN,1430.0,NaN,NaN,921.0,51,Population
3,11/26/1998,NaN,bonrip,2E,414D262D43,NaN,NaN,NaN,1490.0,135.0,NaN,931.0,51,Population
4,11/26/1998,NaN,bonrip,3B,414D2B4B58,NaN,NaN,NaN,1710.0,150.0,NaN,933.0,51,Population
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3375,8/8/2002,18:00:00,bonrip,1b,1201,1202,NaN,NaN,1400.0,NaN,NaN,63.0,64,Population
3376,8/8/2002,6:00:00,bonrip,4b,1201,1202,NaN,NaN,NaN,NaN,NaN,63.0,64,Population
3377,8/7/2002,NaN,bonrip,4b,1217,1218,NaN,NaN,1000.0,134.0,NaN,69.0,64,Population
3378,8/8/2002,NaN,bonrip,6d,1217,1218,NaN,NaN,990.0,NaN,NaN,69.0,64,Population
3379,8/6/2002,NaN,bonrip,4b,1058,1060,M,NaN,1460.0,119.0,NaN,32.0,64,Population

In [11]:
#the counts of the sex values with NAs included:
hares.sex.value_counts()

F     1161
M      730
f      556
m      515
?       40
F?      10
f        4
m        4
f?       3
M?       2
m?       2
pf       1
Name: sex, dtype: int64

In [12]:
# What is the purpose of the dropna=False parameter? Do step 2 again, this time adding the dropna=False parameter to value_counts().
# It was not including counts of NAs in the initial exploration.

hares.sex.value_counts(dropna=False)

F      1161
M       730
f       556
m       515
NaN     352
?        40
F?       10
f         4
m         4
f?        3
M?        2
m?        2
pf        1
Name: sex, dtype: int64

In [10]:
#these are the unique values in the sex column:
hares.sex.unique()

array([nan, 'M', 'F', '?', 'F?', 'M?', 'pf', 'm', 'f', 'f?', 'm?', 'f ',
       'm '], dtype=object)

In [23]:
import numpy as np
#Removing the extra sex conditions so that they are only female and male
conditions = [(hares.sex == 'F') | (hares.sex == 'f') | (hares.sex == 'f '),
              (hares.sex == 'M') | (hares.sex == 'm') | (hares.sex == 'm ')]

choices = ['female', 'male']

hares['sex_simple'] = np.select(conditions, choices, default=np.nan)

hares.sex_simple.unique()

array(['nan', 'male', 'female'], dtype=object)

In [22]:
#calculating the mean weight for the sex columns
hares.groupby(['sex_simple']).weight.mean()

sex_simple
female    1365.164792
male      1349.935542
nan       1193.364055
Name: weight, dtype: float64